<mat-form-field appearance="outline" class="app-field">
  <mat-label>{{ label() }}</mat-label>

  @if (multiline()) {
    <textarea
      matInput
      [rows]="rows()"
      [placeholder]="placeholder()"
      [(ngModel)]="value"
      [disabled]="disabled"
      (ngModelChange)="onValueChange($event)"
      (blur)="onTouched()"
      [errorStateMatcher]="matcher"
    ></textarea>
  } @else {
    <input
      matInput
      [type]="type()"
      [placeholder]="placeholder()"
      [(ngModel)]="value"
      [disabled]="disabled"
      (ngModelChange)="onValueChange($event)"
      (blur)="onTouched()"
      [errorStateMatcher]="matcher"
    />
  }

  @if (hint() && !invalid()) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (invalid()) {
    <mat-error>{{ errorText() }}</mat-error>
  }
</mat-form-field>
