@use '@angular/material' as mat;

.action-edit {
  @include mat.icon-overrides(
    (
      color: #1976d2,
    )
  );
}

.action-delete {
  @include mat.icon-overrides(
    (
      color: #d32f2f,
    )
  );
}

.action-view {
  @include mat.icon-overrides(
    (
      color: #388e3c,
    )
  );
}

.action-default {
  @include mat.icon-overrides(
    (
      color: #757575,
    )
  );
}

.completed {
  @include mat.chips-overrides(
    (
      label-text-color: #15803d,
      elevated-container-color: #9ddab2,
    )
  );
}

.cancelled {
  @include mat.chips-overrides(
    (
      label-text-color: #b91c1c,
      elevated-container-color: #f1b5ba6c,
    )
  );
}

.processing {
  @include mat.chips-overrides(
    (
      label-text-color: #1e40af,
      elevated-container-color: #dbeafe,
    )
  );
}

.pending {
  @include mat.chips-overrides(
    (
      label-text-color: #b45309,
      elevated-container-color: #fef3c7,
    )
  );
}
